const config = {
	bot: {
		token: 'TOKEN',
		intents: 'INTENT',
		owner: '0',
	},
	mysql: {
		host: 'HOST',
		port: 'PORT',
		user: 'USER',
		password: 'PASSWORD',
		database: 'DATABASE',
	},
};

export default config;